/* Menu */
.bg-dark {
  background-color: #ffd500dc !important;
}

#brand {
  font-family: Apple Chancery;
  font-size: xx-large;
}

#navbarNav {
  font-family: Garamond !important;
  font-size: x-large;
}

img {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: auto;
}

#about {
  width: 30%;
  height: auto;
}

.info {
  justify-content: center;
  margin: auto;
  width: 50%;
}

#portfolio {
  font-size: larger;
}

body {
  background-color: #ffd500dc;
  text-align: center;
  border: #ffd500dc;
}

.col-sm {
  width: 100%;
}

.bio {
  text-align: right;
}

#welcome {
  font-size: 2em;
  font-weight: 800;
}

.row {
  width: 100%;
}

.content {
  padding-top: 3em;
  padding-bottom: 1em;
  font-family: serif;
  font-size: larger;
  background-color: white;
  min-height: 25em;
}

.container {
  background-color: white;
}

#portrait {
  width:auto;
  height: 40%;
  padding: 0%;
  margin: 0%;
}

#about {
  width:max-content;
}

.post {
  min-height: 20em;
}

.caption {
  font-style: italic;
  font-size: 2em;
  display: flex;
  padding: 3em 0;
  text-align: center;
}

.review {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: larger;
  justify-content: center;
  margin: auto;
  width:90%;
}